{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {% if app.user and app.user.roles == ['ROLE_ADMIN'] %}
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3>Salut Admin !</h3>
            </div>
            <div class="col-lg-12 col-md-12">
                <h4>Voici les commentaires à modérer :</h4>
            </div>
        </div>
        <div class="row">
    
            {% for comment in rComments %}
                <div class="col-lg-4 col-md-6">
                    <form action="" method="post">

                        <h5>{{comment.author}}</h5><br/>
                        <p>
                            Ecrit le {{ comment.createdAt |  date('d/m/Y')}} à {{comment.createdAt | date('H:i')}}<br/>
                            Contenu : <br/>
                            <textarea name="comment-content">{{ comment.content| raw }}</textarea><br/>
                            Relié à l'article : {{ comment.relatedTo.title}}<br/>
                        </p>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" name="modify" value="{{ comment.id }}" class="btn btn-primary">Enregistrer</button>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" name="delete" value="{{ comment.id }}" class="btn btn-warning">Supprimer</button>
                            </div>
                        </div>
                    </form>

                </div>
            {% endfor %}
    
        </div>

    {% else %}
        <div class="row">
            <p>Vous n'avez rien à faire ici !</p>
        </div>
    {% endif %}
{% endblock %}