{% extends 'base.html.twig' %}

{% block title %}Retrobox - Do It Yourself {% endblock %}

{% block body %}
    <h2>{{ article.title }}</h2>
    <div class="row">
        <span class=" offset-6 col-4 ">Dernière Mise à jour de l'article : {{ article.lastModifiedAt | date('d/m/Y')}} à {{article.lastModifiedAt | date('H:i')}} </span>
    </div>
    <div class="row">
        <div class="row">
            <div id="intro-container" class="col-lg-6">
                <button id="intro-btn" class="btn-primary">Afficher l'intro</button>
                <p id="intro-text" class="col-lg-12">C’est bien gentil toutes ces mini-consoles, mais il doit bien exister un moyen de rejouer à ce qu’on veut sans acheter toutes les machines de la terre, non ? <br/>
Oui ! Il existe bien des solutions, dont une a largement l'avantage sur les autres : le Raspberry Pi.<br/>
Il s’agit, pour faire simple, d’un ordinateur miniature conçu par un professeur d'université dans un but pédagogique (plus simple à comprendre et à programmer qu'un PC). Pour l’utiliser de façon optimale, des passionnés ont conçu un système d’exploitation dédié au rétrogaming : Recalbox ! <br/>
A partir de cette alliance, on obtient la possibilité de jouer à la Super Nintendo, la Sega Master System, l’Amiga et tant d’autres… Et ça, branchée sur la télé du salon ou sur n’importe quel écran HDMI, connectée à notre manette Bluetooth préférée (ou USB), à l’aide d’une machine pas plus grande qu’un paquet de cigarettes (désolé pour l’analogie, mais vous avez l’image), et enfin qui ne consomme pas plus de courant que votre chargeur de smartphone !<br/></p>
            </div>
            <div class="col-lg-6">
                <img src="{{ asset(article.image) }}" alt="image">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ article.content | raw }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h3>Commentaires</h3>
        </div>
        <div class="col-lg-12 col-md-12">
            <h4>{{ message }}</h4>
        </div>
        <div class="row">

            {% for comment in article.comments %}
                {% if comment.isReported == false %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{comment.author}}</h5>
                            <p class="card-text">Écrit le {{comment.createdAt  | date('d/m/Y')}} à {{comment.createdAt | date('H:i')}}<br/>
                                {{ comment.content | raw }}
                            </p>
                            <form action="" method="post">
                                <button type="submit" name="report" value="{{comment.id}}" class="btn btn-warning btn-report">Signaler</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {{ form_start(formComment) }}

                {{ form_row(formComment.author, { 'attr': {'placeholder':"Entrez votre nom"}} )}}
            
                {{ form_row(formComment.content , { 'attr': {'placeholder':"Entrez votre message"}} )}}

                <button type="submit" class="btn btn-primary">Soumettre</button>

            {{ form_end(formComment) }}
        </div>
    </div>
        
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/intro.js') }}"></script>
{% endblock %}

