{% extends 'base.html.twig' %}

{% block title %}Retrobox - Les Mini-Consoles{% endblock %}

{% block body %}
    <h1>Mini-Consoles</h1>
    <div class="row">
    
        {% for miniConsole in miniConsoles %}
            <div class="col-lg-4">

                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="/{{ asset(miniConsole.image) }}" alt="Card image cap"/>
                    <div class="card-body">
                        <h5 class="card-title">{{miniConsole.title}}</h5>
                        <p class="card-text">Année de sortie : {{miniConsole.ReleaseYear}}  Prix : {{miniConsole.price}}€ <br/>
                            Avis : {{miniConsole.opinion}}   Dernière MAJ de l'article : Le {{miniConsole.lastModifiedAt | date('d/m/Y')}} à {{miniConsole.lastModifiedAt | date('H:i')}}<br/>
                            {{ miniConsole.content[:20] | raw }}...
                            <a href="{{ path('one-mini', {'id': miniConsole.id }) }}" class="btn btn-primary">Lire la suite</a>
                        </p>
                    </div>
                </div>    

            </div>
        {% endfor %}
    
    </div>

    
    
{% endblock %}