{% extends 'base.html.twig' %}

{% block title %}Retrobox - Les Mini-Consoles{% endblock %}


{% block body %}
    <h2>{{ miniConsole.title }}</h2>
    <div class="row">

        <span class="col-lg-3">Sortie : {{ miniConsole.releaseYear }} </span>
        <span class="col-lg-3">Prix : {{ miniConsole.price }} € </span>
        <span class="col-lg-3">Avis : {{ miniConsole.opinion }} </span>
        <span class="col-lg-3">Dernière MAJ de l'article : Le {{miniConsole.lastModifiedAt | date('d/m/Y')}} à {{miniConsole.lastModifiedAt | date('H:i')}}</span>

    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <p class="mc-content">{{ miniConsole.content | raw }}</p>
            </div>
            <div class="col-lg-6">
                <img src="{{ asset(miniConsole.image) }}" alt="image">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="row">
                <div clas="col-lg-12">
                    <h3>Liste des Jeux</h3>
                </div>
                <div class="col-lg-12">
                    <table>
                        <thead>
                            <tr class="table-primary">
                                <th>Nom</th>
                                <th>Année</th>
                                <th>Genre</th>
                                {% if miniConsole.id == 12 %}
                                    <th>Plateforme d'origine</th>
                                {% endif %}
                            </tr>
                        </thead>
                        {% for game in miniConsole.games %}
                            <tr class="table-secondary">
                                <td>{{game.name}}</td>
                                <td>{{game.releaseYear}}</td>
                                <td>{{game.type}}</td>
                                {% if miniConsole.id == 12 %}
                                    <td>{{game.description}}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                            
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Commentaires</h3>

                    <h4>{{ message }}</h4>

                </div>
                <div class="col-lg-12">
                    {% for comment in miniConsole.comments %}

                        {% if comment.isReported == '0' %}
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{comment.author}}</h5>
                                    <p class="card-text">Écrit le {{comment.createdAt  | date('d/m/Y')}} à {{comment.createdAt | date('H:i')}}<br/>
                                        {{ comment.content | raw }}
                                    </p>
                                    <form action="" method="post">
                                        <button type="submit" name="report" value="{{comment.id}}" class="btn btn-warning btn-report">Signaler</button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
 
                <div class="col-lg-12">
                    {{ form_start(formComment) }}

                        {{ form_row(formComment.author, { 'attr': {'placeholder':"Entrez votre nom"}} )}}
                            
                        {{ form_row(formComment.content , { 'attr': {'placeholder':"Entrez votre message"}} )}}

                        <button type="submit" class="btn btn-success">Soumettre</button>

                    {{ form_end(formComment) }}
                </div>
            </div>
        </div>      
    </div>
        
{% endblock %}

