{% extends 'base.html.twig' %}

{% block title %}Retrobox - Les Mini-Consoles{% endblock %}

{% block body %}
    <h2>{{ miniConsole.title }}</h2>
    <div class="row">
        <div class="col-12">
            <span>Année de sortie : {{ miniConsole.releaseYear }} </span>
            <span>Prix : {{ miniConsole.price }} </span>
            <span>Avis : {{ miniConsole.opinion }}</span>
        </div>

        <div class="row">
            <div class="row">
                <div class="col-6">
                    <p>{{ miniConsole.content | raw }}</p>
                </div>
            </div>
            <div class="row">
                <table>
                    <thead>Liste des Jeux</thead>
                    <tr>
                        <th>Nom</th>
                        <th>Année de sortie</th>
                        <th>Genre</th>
                    </tr>
                    {% for game in miniConsole.games %}
                        <tr>
                            <td>{{game.name}}</td>
                            <td>{{game.releaseYear}}</td>
                            <td>{{game.type}}</td>
                        </tr>
                    {% endfor %}
                    
                </table>
            </div>
        </div>
        <div class="col-6">
            <img src="{{miniConsole.image}}" alt="">
        </div>
    </div>
{% endblock %}

